.banner {
  background: url(/image/bg.png) #e5e5e5 ;
  position: relative;
  height: 560px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  width: 100vw;
  margin-top: 80px;
  .banner_main {
    gap: 56px;
    position: absolute;
    width: 730px;
    height: 286px;
    left: calc(50% - 730px / 2);
    top: calc(50% - 286px / 2);
    .banner_para {
      width: 100%;
      height: 188px;

      .banner_tit {
        height: 112px;
        color: $fonttit;
        @include inforText(700, 44px, 56px, 00.2px);
        opacity: 1;
        animation-delay: 6s;
        animation: moveNoti 4s forwards !important;
      }

      .banner_text {
        margin-top: 32px;
        height: 44px;
        color: $colortext;
        @include inforText(400, 16px, 22px, 00.3px);
        
        animation-delay: 6s;
        animation: dropList 4s forwards !important;
      }
    }

    .banner_buttons {
      margin-top: 56px;
      gap: 24px;
      span {
        display: inline-block;
      }
      .banner_buttons--start {
        @include button;
        cursor: pointer;
        animation-delay: 6s;
        animation: moveNoti 4s forwards !important;
      }

      .banner_buttons--learn {
        @include button;
        background-color: transparent;
        border: 1px $letterblue solid;
        color: $letterblue;
        transition: 0.4s;
        animation-delay: 6s;
        animation: moveNoti1 4s forwards !important;
        &:hover {
          background-color: $letterblue;
          transition: 0.4s;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
